li {
  list-style-type: none;
  margin: 10px;
}
ul {
  margin-top: 200px;
  text-align: center;
  padding: 50px;
}
.col{
  margin-left: 45%;
}
.style {
  padding-top: 100px;
  margin-left: 40%;
}
button {
  margin-top: 50px;
}
body {
  background-color: #cce5ff;
}
section {
  display: flex;

}
